.jumbotron {
	color: white;
	background-image: url('images/sea-wallpaper-6.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 800px;
	margin-top: 0;
	margin-bottom: 0px;
	
}
.first {
	background-color: rgba(140, 114, 114, 0.5);
}
a {
	color: tomato;
}